<html
    xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>TechShop</title>
        <meta charset="UTF-8">
        
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        
        

        <h2>[[#{articulo.titulo}]]</h2>
        <a th:href="@{/articulo/nuevo}">[[#{articulo.nuevo}]]</a>
        
        <div th:if="${articulos !=null and !articulos.empty}">
        <table border="1">
            <thead>
                <tr>
                    <th>[[#{articulo.descripcion}]]</th>
                    <th>[[#{articulo.detalle}]]</th>
                    <th>[[#{articulo.precio}]]</th>
                    <th>[[#{articulo.existencias}]]</th>
                    <th>[[#{articulo.activo}]]</th>
                    <th>[[#{accion.eliminar}]]</th>
                    <th>[[#{accion.actualizar}]]</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="articulo : ${articulos}">
                    <td>[[${articulo.descripcion}]]</td>
                    <td>[[${articulo.detalle}]]</td>
                    <td>[[${articulo.precio}]]</td>
                    <td>[[${articulo.existencias}]]</td>
                    <td>[[${articulo.activo}]]</td>
                    <td><a th:href="@{/articulo/eliminar/}+ ${articulo.idArticulo}">[[#{accion.eliminar}]]</td>
                    <td><a th:href="@{/articulo/modificar/}+ ${articulo.idArticulo}">[[#{accion.actualizar}]]</td>
                    
                    
                </tr>
            </tbody>
        </table>
        </div>
        
        <div th:if="${articulos ==null or articulos.empty}">
            <h2>[[#{articulo.no_mostrar}]]</h2>
        </div>
        
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
