<html
    xmlns:th="http://www.thymeleaf.org">
    <xmlns:th="http://www.w3.org/1999/xhtml">
        <xmlns:th="http://www.thymeleaf.org/extras/spring-security">
            
            
  <head th:replace="layout/plantilla :: head">
        <title>TechShop</title>
        <meta charset="UTF-8">
        
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        
        <h2>[[#{articulo.datos}]]</h2>
        <a th:href="@{/articulo/listado}">[[#{accion.regresar}]]</a>
        
        <hr/>
        <form th:action="@{/articulo/guardar}"
               method="post"
               th:object="${articulo}">
            <input type="hidden" name="idArticulo" th:field="*{idArticulo}"/>
            
            <label for="descripcion">[[#{articulo.descripcion}]]</label>
            <input type="text" name="descripcion" th:field="*{descripcion}"/>
            <br>
            
            <label for="detalle">[[#{articulo.detalle}]]</label>
            <input type="text" name="detalle" th:field="*{detalle}"/>
            <br>
            
            <label for="precio">[[#{articulo.precio}]]</label>
            <input type="double" name="precio" th:field="*{precio}"/>
            <br>
            
            <label for="existencias">[[#{articulo.existencias}]]</label>
            <input type="text" name="existencias" th:field="*{existencias}"/>
            <br>
            
            <label for="activo">[[#{articulo.activo}]]</label>
            <input type="boolean" name="activo" th:field="*{activo}"/>
            <br>
            
            <button type="submit" th:text="#{accion.guardar}"/>
            
        </form>
        <footer th:replace="layout/plantilla :: footer"/>
        
    </body>
</html>
