<html
    xmlns:th="http://www.thymeleaf.org">
    <xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
        
    </head>
    <body>
        <header th:fragment="header" class="header">
            
            
            <nav class="nav">
                <a th:href="@{/}" class="nav-link logo">TechShop</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item">
                        <a class="nav-link nav-menu-link" th:href="@{/cliente/listado}">Clientes</a>
                    </li>
                    <li class="nav-menu-item">
                        <a class="nav-link nav-menu-link" th:href="@{/articulo/listado}">Articulos</a>
                    </li>
                    <li class="nav-menu-item">
                        <a class="nav-link nav-menu-link" th:href="@{/categoria/listado}">Categorias</a>
                    </li>
                    
                </ul>
            </nav>
            </header>
        
        <footer th:fragment="footer" class="footer">
                <p>&COPY; Derechos reservados 2022</p>
            </footer>
            
        
        
        
    </body>
</html>
