<html
    xmlns:th="http://www.thymeleaf.org">
    <xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:fragment="header">
            <h1>TechShop</h1>
            </header>
        
            <footer th:fragment="footer">
                <p style="text-align: center">&COPY; Derechos reservados 2022</p>
            </footer>
            
        
        
        
    </body>
</html>
