<html
    xmlns:th="http://www.thymeleaf.org">
    <xmlns:th="http://www.w3.org/1999/xhtml">
        <xmlns:th="http://www.thymeleaf.org/extras/spring-security">
            
            
    <head th:replace="layout/plantilla :: head">
        <title>TechShop</title>
        <meta charset="UTF-8">

    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>

        <section th:replace="cliente/fragmentosCliente :: botonesAgregar"/>
        <section th:replace="cliente/fragmentosCliente :: agregarCliente"/>
        <section th:replace="cliente/fragmentosCliente :: listadoClientes"/>

        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
