<html
    xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        
       
        <h2>[[#{cliente.titulo}]]</h2>
        <a th:href="@{/cliente/nuevo}">[[#{cliente.nuevo}]]</a>
        
        <div th:if="${clientes !=null and !clientes.empty}">
        <table border="1">
            <thead>
                <tr>
                    <th>[[#{cliente.nombre}]]</th>
                    <th>[[#{cliente.apellidos}]]</th>
                    <th>[[#{cliente.correo}]]</th>
                    <th>[[#{cliente.telefono}]]</th>
                    <th>[[#{cliente.limite}]]</th>
                    <th>[[#{accion.eliminar}]]</th>
                    <th>[[#{accion.actualizar}]]</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cliente : ${clientes}">
                    <td>[[${cliente.nombre}]]</td>
                    <td>[[${cliente.apellidos}]]</td>
                    <td>[[${cliente.correo}]]</td>
                    <td>[[${cliente.telefono}]]</td>
                    <td style="text-align: right">[[${#numbers.formatDecimal(cliente.credito.limite,3,2)}]]</td>
                    <td><a th:href="@{/cliente/eliminar/}+ ${cliente.idCliente}">[[#{accion.eliminar}]]</td>
                    <td><a th:href="@{/cliente/modificar/}+ ${cliente.idCliente}">[[#{accion.actualizar}]]</td>
                    
                    
                </tr>
            </tbody>
        </table>
        </div>
        
        <div th:if="${clientes ==null or clientes.empty}">
            <h2>[[#{cliente.no_mostrar}]]</h2>
        </div>
        
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
