<html
    xmlns:th="http://www.thymeleaf.org">
    <xmlns:th="http://www.w3.org/1999/xhtml">
        <xmlns:th="http://www.thymeleaf.org/extras/spring-security">
            
            
    <head th:replace="layout/plantilla :: head">
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        
       <section th:replace="cliente/fragmentosCliente :: editarCliente"/> 
        
    </body>
</html>
