<html
    xmlns:th="http://www.thymeleaf.org">
    <xmlns:th="http://www.w3.org/1999/xhtml">
        <xmlns:th="http://www.thymeleaf.org/extras/spring-security">
    
    
    
    <head th:replace="layout/plantilla :: head">
        <title>TechShop</title>
        <meta charset="UTF-8">
        
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        
       

        <h2>[[#{categoria.titulo}]]</h2>
        <a th:href="@{/categoria/nuevo}">[[#{categoria.nuevo}]]</a>
        
        <div th:if="${categorias !=null and !categorias.empty}">
        <table border="1">
            <thead>
                <tr>
                    <th>[[#{categoria.descripcion}]]</th>
                    <th>[[#{categoria.activo}]]</th>
                    <th>[[#{accion.eliminar}]]</th>
                    <th>[[#{accion.actualizar}]]</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="categoria : ${categorias}">
                    <td>[[${categoria.descripcion}]]</td>
                    <td>[[${categoria.activo}]]</td>         
                    <td><a th:href="@{/categoria/eliminar/}+ ${categoria.idCategoria}">[[#{accion.eliminar}]]</td>
                    <td><a th:href="@{/categoria/modificar/}+ ${categoria.idCategoria}">[[#{accion.actualizar}]]</td>
                    
                    
                </tr>
            </tbody>
        </table>
        </div>
        
        <div th:if="${categorias ==null or categorias.empty}">
            <h2>[[#{categoria.no_mostrar}]]</h2>
        </div>
        
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
