<html
    xmlns:th="http://www.thymeleaf.org">
    <xmlns:th="http://www.w3.org/1999/xhtml">
        <xmlns:th="http://www.thymeleaf.org/extras/spring-security">
        
        
        
    <head th:replace="layout/plantilla :: head">
        <title>TechShop</title>
        <meta charset="UTF-8">
        
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        
        <h1>[[#{categoria.datos}]]</h1>
        <a th:href="@{/categoria/listado}">[[#{accion.regresar}]]</a>
        
        <hr/>
        <form th:action="@{/categoria/guardar}"
               method="post"
               th:object="${categoria}">
            <input type="hidden" name="idCategoria" th:field="*{idCategoria}"/>
            
            <label for="descripcion">[[#{categoria.descripcion}]]</label>
            <input type="text" name="descripcion" th:field="*{descripcion}"/>
            <br>
            
            <label for="activo">[[#{categoria.activo}]]</label>
            <input type="boolean" name="activo" th:field="*{activo}"/>
            <br>
            
            
            <button type="submit" th:text="#{accion.guardar}"/>
            
        </form>
        <footer th:replace="layout/plantilla :: footer"/>
        
    </body>
</html>
