<html xmlns:th="http://www.w3.org/1999/xhtml">
    <xmlns:th="http://www.thymeleaf.org">
    
    
    <head th:replace="layout/plantilla :: head">
        <title>TechShop</title>
        <meta charset="UTF-8">
        
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />

        <div class="contenido">

            <h2>[[#{articulo.titulo}]]</h2>
            
            <a th:href="@{/articulo/nuevo}">Nuevo articulo</a>

            <div th:if="${articulos !=null and !articulos.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th>[[#{articulo.descripcion}]]</th>
                            <th>[[#{articulo.precio}]]</th>
                            <th>[[#{articulo.comprar}]]</th>
              
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="articulo : ${articulos}">
                            <td>[[${articulo.descripcion}]]</td>
                            <td style="text-align: right">[[${#numbers.formatDecimal(articulo.precio,3,2)}]]</td>
                            <td><a th:href="@{/carrito/agregar/}+ ${articulo.idArticulo}">[[#{articulo.comprar}]]</td>
                            


                        </tr>
                    </tbody>
                </table>
            </div>

            <div th:if="${articulos ==null or articulos.empty}">
                <h2>[[#{articulo.no_mostrar}]]</h2>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
