a{
    background-color: blue;
    color: white
}

a:hover{
    background-color: red;
    color: white;
    font-size: 20px;
}

header {
    text-align: center;
    background-color: black;
    color: white

}

article header {
    text-align: center;
    background-color: greenyellow;
    color: black

}

figcaption{


    color: black;

}

#aviso{
    background-color: #ffae91


}

.producto{
    background-color: #ff3240
}


